<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANDWEL - パスワードリセット</title>
    <link rel="stylesheet" href="../../static/css/foundation.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/andwel-common.css">
    <link rel="stylesheet" href="../../static/css/login.css">
	<style>
    </style>
  </head>
  <body>
	<div class="row column align-center medium-6 large-4 container-padded">
	<div class="login-logo">
		<p class="logo">ANDWEL</p>
  	</div>
		<form class="log-in-form">
			<h6 class="text-center">パスワードリセットメールをお送りします</h6>
			<label class="lable-form">メールアドレス<input placeholder="andwel@example.com" type="email"></label>
			<p><input class="button expanded" value="パスワードの再設定を行う" type="submit"></p>
		</form>
	</div>

<!-- フッター -->
<div class="grid-x align-justify align-middle footer">
<div class="small-12 medium-shrink cell">
<ul class="menu footer-navi-left">
<li class="align-self-middle">ANDWEL</li>
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="small-12 medium-shrink cell footer-navi-right">
<span>Copyright 2018</span>
</div>
</div>

    <script src="../../static/js/vender/jquery.js"></script>
    <script src="../../static/js/vender/what-input.js"></script>
    <script src="../../static/js/vender/foundation.js"></script>
    <script src="../../static/js/app.js"></script>
  </body>
</html>